<form [formGroup]="timerForm">
  <h1 mat-dialog-title>Enter Timer Duration</h1>
  <div mat-dialog-content class="input-group">
    <div class="group">
      <label for="">Hours</label>
      <input placeholder="00" type="number" step="1" formControlName="hourDuration" />
    </div>
    <div class="group">
      <label for="">Minutes</label>
      <input placeholder="00" type="number" step="1" formControlName="minutesDuration" />
    </div>
    <div class="group">
      <label for="">Seconds</label>
      <input placeholder="00" type="number" min="0" step="1" formControlName="secondsDuration" />
    </div>
  </div>
  <div mat-dialog-actions class="actions">
    <button
      mat-button
      [mat-dialog-close]="getNewTimerDuration()"
      cdkFocusInitial
      type="button"
      class="button"
    >
      Save Changes
    </button>
    <button
      mat-button
      (click)="onDiscardClick()"
      type="button"
      class="button button--discard"
      [matDialogClose]="null"
    >
      Discard
    </button>
  </div>
</form>
