<form [formGroup]="timerForm">
  <h1 mat-dialog-title>Enter Timer Duration</h1>
  <div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <input placeholder="Hours" type="number" formControlName="secondsDuration" />
    <input placeholder="Minutes" type="number" formControlName="minutesDuration" />
    <input placeholder="Seconds" type="number" formControlName="hourDuration" />
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      [mat-dialog-close]="getNewTimerDuration()"
      cdkFocusInitial
      type="button"
      class="button"
    >
      Save Changes
    </button>
    <button mat-button (click)="onDiscardClick()" type="button" class="button">Discard</button>
  </div>
</form>
