<div class="card">
  <div class="card-header">
    <p>{{ leftTime | timeFormat }}</p>
  </div>
  <div class="card-actions">
    <button (click)="timerEditClick.emit(timer.id)" class="button">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="timerToggleStopClick.emit(timer.id)" class="button button--toggle-state">
      <mat-icon>{{ timer.stopped ? "play_arrow" : "pause" }}</mat-icon>
    </button>
    <button (click)="timerDeleteClick.emit(timer.id)" class="button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
